html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #EADDCA;
  color: #834333;
}

div.title {
  text-align: center;
}

p {
  font-family: "Papyrus", fantasy;
}

h1, h3, h4, h5 {
  font-family: "Papyrus", fantasy;
}

body p {
  text-indent: 10px;
}
