html, body {
  height: 100%;
  width: 100%;
}

div.title {
  background-color: #C19A6B;
  color: #6E260E;
  
  text-align: center;
  font-family: "Bodoni MT", Georgia, serif;
}

div.mainpagebody {
  text-align: justified;
  font-family:"Bodoni MT", Georgia, serif
}
    
 .title img {
  float: left;
  margin-top:10px;
  margin-left:20px;
}

div.title h1 {
  border-right:5px #6E260E solid;
  border-left:5px #6E260E solid;
  border-top:5px #6E260E solid;
  border-bottom:5px #6E260E solid;
}

div.left1 {
  float: left;
  position: right;
}

div.left2 {
  float: left;
}

div.right {
  float: right;
}

body p {
  text-indent: 10px;
}
